.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.top-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.header {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.header:hover,
.header:focus {
    color: #404bbf;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}
.body {
   font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.navigation-01:hover,
.navigation-01:focus {
color: #404bbf;
}
.navigation {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.address {
    font-style: normal;
}
.address-detail {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-detail-click {
    color: #434455
}
.address-detail-click:hover,
.adress-detail-click:focus {
    color: #404bbf;
}
.header-tittle {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        background-color: #2e2f42;
        text-align: center;
}
.button-order {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
}
.button-order:hover,
.button-order:focus {
    background: #404bbf;;
}
.about-us {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.about-us-comment {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        background: #F4F4FD;
        text-transform: capitalize;
        text-align: center;
}
.team-link {
    background-color: #FFFFFF
}
.name-our-team {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.rank-our-team {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: #434455;
}
.our-portfolio {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        text-align: center;
}
.descr {
    background: #fff;
}
.descr-item {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.item-text {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: #434455;
}
.footer {
    background: #2e2f42;
}
.footer-text {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.web-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}